---
layout: default
title: Tags
published: false
sitemap: false
---

<div class="page page-blog-tags">
    <section class="section">
        <div class="container">
            <div class="section--header">
                <h1 class="section--header--heading">You'd rather browse my work by tags, I see.</h1>
            </div>
            <div class="section--body">
                {% assign tags =  site.projects | map: 'tags' | join: ','  | split: ',' | uniq %}
                {% for tag in tags %}
                    <div class="container-tag-single">
                        <h3 id="{{ tag }}">{{ tag }}</h3>
                        <ul>
                        {% for project in site.projects %}
                            {% if project.tags contains tag %}
                            <li><a href="{{ project.url }}">{{ project.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>

<script type="text/javascript" src="/assets/js/tags.js"></script>
