---
layout: default
title: About
---

<div class="page page-projects">
    <section class="section">
        <div class="container">
            <div class="section--header">
                <h1 class="section--header--heading">I mumble, occasionally.</h1>
            </div>
            <div class="section--body">
                <p>So. You'd like to know who you're working with. Fair enough.</p>
                <p>
                    My name is Kunal Nagar and I'm a Front-end Web Developer based in <small><i>(out of?)</i></small> Bangalore. I like building great experiences for users on the web. I was introduced to the world of programming via Logo and QBasic and enjoyed it so much that I decided to make a career out of it.
                </p>
                <p>
                    <strong>After my graduation</strong> from {% include components/link.html link=site.data.links.misc.pict text="Pune Institute of Computer Technology" %}, I was introduced to Apex Salesforce and worked on it for a year in Jaipur. I then decided to do my Masters from {% include components/link.html link=site.data.links.misc.bits text="BITS Dubai" %} where I got the opportunity to work on the college Intranet Projects using PHP. I loved PHP so much that I came back to Jaipur and worked Freelance for 2 years that introduced me to the entire stack of Web Development (Backend + Frontend). From here, I branched out to using WordPress, CakePHP, Codeigniter and Laravel.
                </p>
                <p>
                    <strong>In 2015</strong>, I got an offer to work for a Social Media Startup called {% include components/link.html link=site.data.links.viraltag.root text="Viraltag" %}. I gave interviews for both positions (Front-End and Back-End) and in the end I decided to go Front-End full-time. I think it's working with IE8 and less that makes it more fun.
                    <!-- If you're interested in seeing what I worked on there, go {% include components/link.html link=site.data.links.projects.tags.viraltag text="here" %}. -->
                </p>
                <p>
                    <strong>I currently work</strong> at {% include components/link.html link=site.data.links.scalegrid.root text="ScaleGrid Inc." %} that allows you to host {% include components/link.html link=site.data.links.scalegrid.mongodb.root text="MongoDB" %}, {% include components/link.html link=site.data.links.scalegrid.redis.root text="Redis" %}, {% include components/link.html link=site.data.links.scalegrid.mysql.root text="MySQL" %} and {% include components/link.html link=site.data.links.scalegrid.postgresql.root text="PostgreSQL" %} databases.
                    <!-- If you're interested in seeing what I work on, go {% include components/link.html link=site.data.links.projects.tags.scalegrid text="here" %}. -->
                </p>
            </div>
        </div>
    </section>
</div>
