---
layout: default
title: Contact
---

<div class="page page-contact">
    <section class="section">
        <div class="container">
            <div class="section--header">
                <h1 class="section--header--heading">I talk, occasionally.</h1>
            </div>
            <div class="section--body">
                <p>
                    Talk to me. You've landed on this page because of three possible reasons:
                    <ul>
                        <li>My site has extremely good SEO <small><em>(probably not)</em></small></li>
                        <li>You like my work and want to talk about working together <small><em>(probably)</em></small></li>
                        <li>You're a recruiter and want to sell me on why I should work with this upcoming startup that you can't provide the name of. In such a case, I highly recommend you find someone else. If you're passionate about what you do, please put some original thought into your outreach.</li>
                    </ul>
                </p>
                <p class="alert alert-info">
                    <b><u>Note</u>: </b> If you're worried about your data being collected, you shouldn't, because I honestly don't care. When you submit this form below,
                    an email is sent to me with whatever you've written. I go through the email and if I decide to work with you, I send you an email back and you end
                    up in my Contact List. If that works for you, please go ahead and talk about how I can help you.
                </p>
                <form id="form_contact" role="form" method="POST" class="form-horizontal">
                    <div class="form-group">
                        <label for="contact_name">Name</label>
                        <input type="text" id="contact_name" name="name" class="form-control" name="name" placeholder="What do I call you?" required autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label for="contact_email">Email</label>
                        <input type="email" id="contact_email" name="email" class="form-control" name="email" placeholder="I'll use this email to reply back to you" required autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label for="contact_message">Message</label>
                        <textarea id="contact_message" name="message" rows="10" class="form-control" placeholder="How can I contribute to your million dollar idea?" required autocomplete="off"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="contact_cta" class="btn btn-cta">Submit</button>
                    </div>
                    <div class="form-group">
                        <p class="form-control footnote">
                            If, for some reason, you find this form too intimidating, feel free to tweet {% include components/link.html link=site.data.links.site.twitter.tweet text="@_kunalnagar" %}. Just don't spam me with cat pics, I like dogs better.
                        </p>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </section>
</div>

{% include components/notification.html %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
<script type="text/javascript" src="/assets/js/components/notification.js"></script>
<script type="text/javascript" src="/assets/js/contact.js"></script>
