---
layout: default
title: Open Source
---

<div class="l-container p-foss">
    <h1>Open Source</h1>
    <section class="projects">
        <p>
            I build stuff and I try to make it available to as many people as possible. <i>For free.</i>
        </p>
        <ul>
            {% for project in site.data.foss.projects %}
                <li>
                    <p class="img"><img src="{{ project.img }}" /></p>
                    <p class="title">{{ project.title }}</p>
                    <p class="description">{{ project.description }}</p>
                    <a href="{{ project.link }}" target="_blank" rel="noopener noreferrer" class="btn">View</a>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section class="section tinkers">
        <h2>Demos & Experiments</h2>
        <p>
            I tinker around. When I see stuff on the internet that's challenging, I try to re-create it. This contains demos and experimental browser API stuff. Take a look!
        </p>
        <ul>
            {% for tinker in site.data.foss.tinkers %}
                <li>
                    <p class="img"><img src="{{ tinker.img }}" /></p>
                    <p class="title">{{ tinker.title }}</p>
                    <p class="description">{{ tinker.description }}</p>
                    <a href="{{ tinker.link }}" target="_blank" rel="noopener noreferrer" class="btn btn-outline">View</a>
                </li>
            {% endfor %}
        </ul>
        <!-- <ul>
            <li>
                <b>Highcharts to PDF</b> A <a href="https://kunalnagar.in/blog/highcharts-export-pdf/">fiddle</a> on how to export multiple graphs in Highcharts to a PDF using jsPDF
            </li>
            <li>
                <b>MailChimp signup form</b> This is how signup forms should be. Especially the password section. I try to re-create it <a href="http://kunalnagar.github.io/mailchimp-signup/">here</a>.
            </li>
            <li>
                <b>Clipboard Demo</b> Demos to copy input/paragraph elements to the Clipboard. <a href="https://kunalnagar.github.io/clipboard-demo/">No library</a> required.
            </li>
            <li>
                <b>YouTube Jukebox</b> Subscribed to a lot of channels? Want a way to watch the important ones first? Quickly add them to a <a href="/blog/chrome-extension-youtube-jukebox/">jukebox</a>, sit back and relax.
            </li>
            <li>
                <b>AdStomp</b> I hate ads. But that's how <i>most</i> free content is offered on the Internet. <a href="https://chrome.google.com/webstore/detail/adstomp/omoobfkabeoablabejdmodnablfjjbch">AdStomp</a> helps you with that without triggering adblock warnings.
            </li>
            <li>
                <b>Node.js file upload</b> The basic stuff. Upload a file and get percentage updates. No demo but here's the <a href="https://github.com/kunalnagar/nodejs-basic-file-upload">project</a>.
            </li>
        </ul> -->
    </section>
</div>
