---
layout: default
title: Open Source
---

<div class="page page-foss">
  <p>
    I build stuff and try to open-source most of it. For more, check out my {%
    include components/link-external.html href="https://github.com/kunalnagar"
    text="GitHub" %}.
  </p>
  <section class="section">
    <h2>Open Source</h2>
    <ul class="list popular">
      {% for project in site.data.foss.projects %}
      <li>
        {% include components/link-external.html href=project.link
        text=project.title %}
        <p class="description">{{ project.description }}</p>
      </li>
      {% endfor %} {% for tinker in site.data.foss.tinkers %}
      <li>
        {% include components/link-external.html href=tinker.link
        text=tinker.title %}
        <p class="description">{{ tinker.description }}</p>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
