---
layout: default
title: Open Source
---

<div class="page-foss">
  <h1>Projects</h1>
  <p>I build stuff and try to open-source most of it.</p>
  <ul>
    {% for project in site.data.foss.projects %} {% if project.popular %}
    <li>
      <div class="media-object">
        <span
          class="iconify media-object--icon"
          data-icon="{{ project.icon }}"
          data-inline="false"
        ></span>
        <!-- <img src="{{ project.img }}" alt="{{ project.img_alt }}" class="media-object--img" /> -->
        <div class="media-object--body">
          <h3 class="media-object--title">{{ project.title }}</h3>
          <p class="media-object--description">{{ project.description }}</p>
        </div>
      </div>
    </li>
    {% endif %} {% endfor %}
  </ul>
</div>
