<script type="text/javascript">
    function async(u, c) {
        var d = document, t = 'script',
            o = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        o.src = '//' + u;
        if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
        s.parentNode.insertBefore(o, s);
    }
    async('platform.twitter.com/widgets.js', function() {});
    async('cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js', function() {
        hljs.configure({
            tabReplace: '    '
        });
        hljs.initHighlightingOnLoad();
    });
</script>
