<footer>
  <script src="/assets/js/main-bundle.js"></script>
  <div class="cookie-monster--shell">
    <div class="cookie-monster--notice">
      <h4>OM NOM NOM</h4>
      <p>This site gots cookies 🍪</p>
      <button type="button" class="cookie-monster--notice--button">
        Oh-kay.
      </button>
    </div>
    <button type="button" class="cookie-monster--button" title="Boop me.">
      <img src="/assets/img/cookie-monster.png" class="cookie-monster--img" />
    </button>
  </div>
</footer>
