<nav class="navbar">
    <div class="container l-container navbar-container">
        <section class="brand">
            <a href="/" class="link" title="Home">
                <img src="/assets/img/logo.png" class="img" alt="Kunal Nagar - Logo" />
                <span>Kunal Nagar</span>
            </a>
        </section>
        <section class="links">
            <ul>
                <li>
                    <b>Résumé</b>
                    <a href="/assets/downloads/Resume-KunalNagar.docx" title="Resume (.docx) Word format">.docx</a> |
                    <a href="/assets/downloads/Resume-KunalNagar.pdf" title="Resume (.pdf) format">.pdf</a>
                </li>
                <li>
                    <a href="/foss" title="View open source work">Open Source</a>
                </li>
                <li>
                    <a href="/blog" title="Read blog">Blog</a>
                </li>
            </ul>
        </section>
    </div>
</nav>
