<div id="header">
  	<div class="container">
    	<a href="/" id="logo">
      		<span class="visible-large">Kunal Nagar</span>
      		<span class="visible-small">KN</span>
    	</a>
    	<nav>
      		<ul>
        		<li id="about"><a href="/about/">About</a></li>
        		<li id="twitter"><a href="https://twitter.com/_kunalnagar">Twitter</a></li>
        		<li id="archive"><a href="/blog/">Archive</a></li>
        		<li id="rss"><a href="/feed.xml">RSS</a></li>
      		</ul>
    	</nav>
  	</div>
</div>
