<div id="home_slider" class="carousel slide" data-ride="carousel">

	<!-- Indicators -->
	<!--<ol class="carousel-indicators">-->
		<!--<li data-target="#home_slider" data-slide-to="0" class="active"></li>-->
		<!--<li data-target="#home_slider" data-slide-to="1"></li>-->
	<!--</ol>-->

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="/img/slider-1.jpg" alt="Professional Web Development Services">
		</div>
		<div class="item">
			<img src="/img/slider-2.jpg" alt="Mobile Application Development Services">
		</div>
	</div>
</div>
