<!-- Twitter Card Tags Start -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@_kunalnagar">
<meta name="twitter:creator" content="@_kunalnagar">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:image" content="{% if page.thumbtwitter %}{{ page.thumbtwitter | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.avatar }}{% endif %}">
<!-- Twitter Card Tags End -->
