.page-blog {
  ul {
    padding: 0;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &.is-hidden {
        display: none;
      }

      .date {
        color: $text-color-muted;
        margin: 0;
        flex: 1;
        font-size: 1.5rem;
      }

      .link {
        text-decoration: none;
        color: $text-color;
        flex: 2;

        &:hover {
          text-decoration: underline;
          color: $link-color;
        }
      }
    }
  }

  @media screen and (max-width: 650px) {
    ul {
      li {
        display: block;
        margin-bottom: 30px;

        .date {
          flex: none;
          font-size: 1.3rem;
        }

        .link {
          flex: none;
        }
      }
    }
  }

  &-single {
    time {
      color: $text-color-muted;
      font-weight: 600;
    }

    img {
      max-width: 100%;
      max-height: 60rem;
    }
  }
}
