.page-blog {
  #posts_list {
    margin-bottom: 2rem;
    padding-left: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

      .post-description {
        margin: 0;
      }

      .date {
        @include theme() {
          color: theme-get('text-color-muted');
        }
      }
    }
  }

  &-single {
    h1 {
      margin-bottom: 0.2rem;
    }

    h2,
    h3,
    h4 {
      margin-top: 4rem;
    }

    .section {
      margin-bottom: 3rem;
    }

    img {
      max-width: 100%;
    }

    // article {
    //   margin-top: 3rem;
    // }
  }
}
