.page-foss {
  ul {
    padding: 0;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;

    li {
      flex: 1 0 calc(50% - 2rem);
      max-width: 50%;
      list-style: none;
      margin-bottom: 10px;

      &:nth-child(odd) {
        margin-right: 2rem;
      }

      .link {
        flex: 1;
        margin-right: 20px;
      }

      .description {
        margin: 0;
        flex: 3;
      }
    }
  }

  @media screen and (max-width: 650px) {
    ul {
      li {
        flex-wrap: wrap;

        .link {
          flex: none;
        }

        .description {
          flex: auto;
        }
      }
    }
  }
}
