.page-home {
  .blog-posts {
    &__list {
      margin-bottom: 2rem;
      padding-left: 0;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        .post-description {
          margin: 0;
        }

        .date {
          @include theme() {
            color: theme-get('text-color-muted');
          }
        }

        @media screen and (max-width: 650px) {
          display: block;
        }
      }
    }
  }
}
