body {
  font-family: $font-family;
  font-size: $font-size;
  color: $text-color;
  line-height: 1.5;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;

  @media screen and (max-width: 650px) {
    margin: 0 20px;
  }
}

a {
  color: $link-color;

  &:hover {
    color: $link-color-hover;
  }
}

h1,
h2,
h3 {
  line-height: 32px;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 26px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

@import 'vendor/highlighting.css';
