// @include theme() does not work on the `html` tag
// since it's the root element in the DOM
html {
  &.light {
    background-color: #e1e1e1;
  }
  &.dark {
    background-color: #626262;
  }
}

body {
  font-family: $font-family;
  font-size: $font-size;
  border-radius: 4px;
  line-height: 1.5;
  margin: 1rem auto;
  padding: 1.5rem;
  max-width: 800px;
  min-height: calc(100vh - 5rem);
  overflow-x: hidden;
  @include theme() {
    color: theme-get('text-color');
    background-color: theme-get('background-color');
    box-shadow: theme-get('box-shadow');
  }

  @media screen and (max-width: 650px) {
    padding: 1rem;
    margin: 0;
    min-height: calc(100vh - 2rem);
  }
}

hr {
  @include theme() {
    border-bottom-color: theme-get('hr-color');
  }
}

a {
  @include theme() {
    color: theme-get('link-color');
  }

  &:hover {
    @include theme() {
      color: theme-get('link-color-hover');
    }
  }
}

h1,
h2,
h3 {
  line-height: 32px;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 26px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

@import 'highlighting.css';
