html {
  height: 100%;
}

body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: $font-family;
  font-size: $font-size;
  @include theme() {
    color: theme-get('text-color');
    background-color: theme-get('background-color');
  }
  line-height: 1.5;
  margin: 0;

  a {
    text-decoration: none;
    @include theme() {
      color: theme-get('link-color');
    }
  }

  main {
    margin: 0 auto;
    padding: 2.5rem 1.75rem;
    max-width: 65ch;

    a {
      @include theme() {
        color: theme-get('link-color');
        border-bottom: 1px solid theme-get('link-color-border');
      }
      text-decoration: none;
      transition: border 0.3s ease-in-out;

      &:hover {
        @include theme() {
          border-bottom-color: theme-get('link-color-border-hover');
        }
      }
    }

    p {
      margin: 1.25rem 0;
    }
  }
}

h1,
h2,
h3 {
  @include theme() {
    color: theme-get('link-color');
  }
  line-height: 1.111111;
}

h1 {
  font-size: 2.25em;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 2rem;
}

h2 {
  font-size: 26px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

@import 'highlighting.css';
