// Text Selection
::selection {
    background-color: $selection-color;
}

// Links
a {
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid lighten($link-color, 35%);
    transition: background-color 100ms ease, border-bottom-color 100ms ease;

    &:hover {
        text-decoration: none;
        background-color: lighten($link-color, 32%);
        border-bottom-color: $link-hover-color;
    }
}

// Buttons
.button {

    &.button-outline {
        background: transparent;
        color: $primary-color;

        &:hover {
            background: $primary-color;
        }
    }
}

// Sections
.section {
    margin: 4rem 0;

    h2 {
        padding-bottom: 0.5rem;
        border-bottom: 2px solid lighten(gray, 40%);
        margin-bottom: 2rem;
    }
}

// Code Highlighting (Basic)
.highlighter-rouge {
    line-height: 1.3em;

    pre {
        background-color: #eaeaea63;
        padding: 1em 1.5em;
        overflow: auto;
    }
}

code.highlighter-rouge {
    padding: 2px 5px;
    margin: 0.2em;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

