.page-home {

  .about-me {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  
    h1 {
      margin-top: 0;
    }
  
    p {
      font-style: italic;
    }
  
    img {
      height: 10rem;
      margin-left: 2rem;
      border-radius: 0.5rem;
    }
  }

}
