.highlighter-rouge {
    max-width: 100%;
    overflow-x: auto;

    pre {
        background-color: #eaeaea63;
        padding: 1em 1.5em;
        overflow: auto;
    }
}

code.highlighter-rouge {
    padding: 2px 5px;
    margin: 0.2em;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
