.o--10 {
  opacity: 0.1;
}

.d--none {
  display: none;
}

.d--flex {
  display: flex;
}

.highlight pre {
  @include theme() {
    background-color: theme-get('code-pre-background-color');
  }
}

code.highlighter-rouge {
  font-family: $font-family-monospace;
  font-size: 87.5%;
  @include theme() {
    color: theme-get('code-color');
  }
}
