.d-flex {
    display: flex;

    &.items-center {
        align-items: center;
    }
}

.f-1 {
    flex: 1;
}

code.highlighter-rouge {
    padding: 5px 10px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.highlighter-rouge {
    font-size: 1.1em;
    line-height: 1.3em;
}
