$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-size: 1rem;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace;

$text-color: #212529;
$text-color-muted: #564c4c;

$link-color: #2a2aff;
$link-color-hover: #0056b3;

$border-color: #bbbbbb;
$border-radius: 4px;
