$primary-color:                 #455372;
$selection-color:               lighten($primary-color, 55%);
$link-color:                    #039;
$link-hover-color:              lighten($link-color, 20%);
$link-bg-color:                 #ffbf47;

$font-family:                   verdana, sans-serif;
$font-size:						12pt;
$headings-font-family:          georgia, "times new roman", serif;
