.navbar {

	border: none !important;

	.navbar-toggle {

		.icon-bar {
			width: 20px;
			height: 2px;
		}
	}

	.navbar-header {
		//border-bottom: 5px #000;
		//border-bottom-style: solid;
	}

	.navbar-right {
		//border-bottom: 2px dotted black;
	}

	.navbar-collapse {
		border: none;
		//border-top: 2px dotted black;
	}
}
