footer {
  margin: 2rem 0 0 0;
  padding: 1rem 0 0 0;

  @include theme() {
    border-top: 1px dashed theme-get('html-background-color');
  }

  .footer {
    &-links {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      margin-bottom: 0;

      li {
        margin: 0 0.5rem;

        &:first-child {
          margin-left: 0;
        }

        a {
          @include theme() {
            color: theme-get('text-color-muted');
          }
        }
      }
    }
  }

  .cookie-monster {
    &--shell {
      position: fixed;
      display: flex;
      align-items: flex-end;
      right: -6rem;
      visibility: hidden;
      bottom: 0;
      width: 5rem;
      transition: right linear 0.7s, visibility 1s;

      &.show {
        right: 1rem;
        visibility: visible;
      }
    }

    &--notice {
      position: fixed;
      visibility: hidden;
      width: 8rem;
      opacity: 0;
      bottom: 3rem;
      right: 5rem;
      padding: 0.5rem;
      padding-bottom: 0.7rem;
      background-color: white;
      border-radius: $border-radius;
      transition: visibility 0.5s, opacity 0.5s linear;

      &--button {
        padding: 0.3rem;
        cursor: pointer;
      }

      &.show {
        visibility: visible;
        opacity: 1;
      }

      @include theme() {
        border: 2px dashed theme-get('cookie-monster-color');
      }

      h4 {
        margin: 0;
        padding: 0;
      }
    }

    &--img {
      max-width: 100%;
    }

    &--button {
      cursor: pointer;
      border: 0;
      margin: 0;
      padding: 0;
      background-color: transparent;
    }
  }
}
