nav {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex: 1;
    align-items: center;

    li {
      margin-right: 20px;

      &.brand {
        a {
          color: #767676;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      @media screen and (max-width: 650px) {
        margin-right: 15px;
      }
    }
  }

  #btn_color_scheme {
    cursor: pointer;
    border: none;
    padding: 0.3rem 0.4rem;
    border-radius: $border-radius;

    @include theme() {
      background-color: theme-get('logo-fill');
      color: theme-get('background-color');
    }
  }
}
