nav {
  height: 2rem;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .brand {
    border-bottom: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;

    li {
      margin-right: 1rem;
      display: flex;

      &:last-child {
        margin-right: 0;
      }

      // @media screen and (max-width: 650px) {
      //   margin-right: 15px;
      // }

      label {
        cursor: pointer;

        #color_scheme {
          display: none;
        }

        .moon {
          display: none;
        }
      }

      a {
        display: flex;
        transition: opacity 0.2s ease;
        @include theme() {
          color: theme-get('link-color-nav');
        }
        opacity: 0.6;
        outline: 0;

        &:hover {
          opacity: 1;
        }

        svg {
          font-size: 1.2rem;
        }
      }
    }
  }
}
