.notice {
    padding: 1rem;
    border-radius: 2px;
    color: darken($primary-color, 10%);
    margin: 1em 0;

    &-info {
        background-color: lighten($link-color, 50%);
    }

    &-default {
        background-color: lighten(gray, 20%);
    }
}
