.component--notification {
    position: fixed;
    top: 0;
    right: -40%;
    width: 35%;
    z-index: 9999;
    padding: 0.7em 1.5em;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);

    &--main {

        &--status {
            font-weight: 600;
            font-size: 1.1em;
        }

        &--message {
            line-height: 23px;
            color: lighten($color-brand, 30%);
        }
    }

    &--buttons {
        margin: 1.5em 0 0.8em 0;
    }

    &.alert-success {
        border-left: 4px solid darken($color-success, 20%);
    }

    &.slide {
        animation: slide 0.3s forwards;
    }

    @media (max-width: 736px) {
        width: 83%;
        right: -100%;
    }
}

@-webkit-keyframes slide {
    100% { right: 2%; }
}
