{{ define "main" }}
	<div class="container">
		<h4>Here's some music I listen to:</h4>
		<iframe src="https://tools.applemusic.com/embed/v1/playlist/pl.u-9N9LXjLI7m16zV?country=in" height="400px" width="100%" frameborder="0"></iframe>
		<h4>Here are some Podcasts I like:</h4>
		<ul>
	        <li><a href="http://gettingthingsdone.com/podcasts/" target="_blank">Getting Things Done (GTD)</a></li>
	        <li><a href="https://www.jeffsanders.com/the-5-am-miracle-podcast/" target="_blank">The 5AM Miracle</a></li>
	        <li><a href="https://blog.intercom.com/category/podcast/" target="_blank">Inside Intercom Podcast</a></li>
	        <li><a href="https://itunes.apple.com/us/podcast/founders-journey-building-a-startup-from-the-ground-up/id957952675?mt=2" target="_blank">Founder’s Journey: Building a Startup from the Ground Up</a></li>
	        <li><a href="http://www.stuffyoushouldknow.com/podcasts" target="_blank">Stuff you should know</a></li>
	        <li><a href="https://boagworld.com/show" target="_blank">Boagworld</a></li>
	        <li><a href="http://99percentinvisible.org/" target="_blank">99% invisible</a></li>
	        <li><a href="http://www.aidpodcast.com/" target="_blank">Adventures in Design</a></li>
	    </ul>
	</div>
{{ end }}