---
---

@import 'variables';
@import 'reset';
@import 'highlight';
@import 'page-blog';

body {
  font-family: $font-family;
  line-height: 1.5rem;
  padding: 1rem;

  main {
    max-width: 768px;
    margin: 0 auto;
  }
}

p {
  margin: 1rem 0;
}

ul,
ol {
  list-style: disc;
  margin-left: 2rem;

  p {
    margin: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 1rem 0;
  font-weight: 600;
  color: #000;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

nav {
  ul {
    margin-left: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-weight: 500;
  }
}

a {
  color: #00e;
}

img {
  max-width: 100%;
  max-height: 30rem;
  margin: 1rem 0 0 0;
}

table {
  thead {
    tr {
      th {
        padding: 0.5rem 0;
        text-align: left;
        font-weight: 500;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 0.5rem 0 0 0;
      }
    }
  }
}
