---
layout: default
title: Blog
---

<div class="page page-blog">
  <p>
    I write about my personal and professional life experiences. Looking for the
    {% include components/link-external.html href="/feed.xml" text="RSS feed"
    %}?
  </p>
  <section class="section">
    <h2>Blog posts</h2>
    <ul id="posts_list">
      {% for post in site.posts %}
      <li>
        {% include components/link-internal.html href=post.url text=post.title
        %}
        <span class="date">{{ post.date | date: "%b %d, %Y" }}</span>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
