::selection {
	background: #bdfbff;
}

.single-section {
	padding: 2em 0;

	p {
		line-height: 1.8em !important;
		font-size: 1.2em !important;
	}
}

.i-can-help {
	border-bottom: 3px solid black;
	padding-bottom: 0.2em;
}

.page-header {
	h1, h2, h3, h4 {
		margin: 0;
	}
	border-bottom: 5px solid black !important;
}
