$brand-primary: black !default;

$border-radius-base: 2px !default;
$border-radius-large: 2px !default;
$border-radius-small: 2px !default;

$headings-font-family: 'Montserrat', sans-serif !default;
$headings-color: black !default;

$font-family-sans-serif: 'Merriweather', serif !default;
$font-family-serif: 'Merriweather', serif !default;

$navbar-default-bg: white !default;
$navbar-default-border: black !default;
$navbar-border-radius: 0 !default;

$navbar-default-toggle-hover-bg: white !default;
$navbar-default-toggle-icon-bar-bg: black !default;
$navbar-default-toggle-border-color: white !default;

$text-color: #464646 !default;
