$brand-primary: black !default;
$color-selection: #bdfbff !default;
$color-hireme: #CB6898 !default;

$link-hover-color: #CB6898 !default;

// $container-large-desktop:      42em !default;
// $container-lg:                 42em !default;

$border-radius-base: 2px !default;
$border-radius-large: 2px !default;
$border-radius-small: 2px !default;

// $headings-font-family: 'Merriweather', serif !default;
$headings-color: black !default;

// $font-family-sans-serif: 'Montserrat', sans-serif !default;
// $font-family-serif: 'Montserrat', sans-serif !default;

$navbar-border-radius: 0 !default;
