{{ define "main" }}
	<div class="container">
		<ul>
			<li><span class="emoji">👨‍💻</span>Front end web developer based in Bangalore (Currently: <a href="https://scalegrid.io" target="_blank">ScaleGrid</a>)</li>
			<li><span class="emoji">📝</span><a href="/about">About</a></li>
			<li><span class="emoji">📝</span><a href="/blog">Blog</a></li>
			<li><span class="emoji">🥑</span><a href="https://github.com/kunalnagar" target="_blank">Open Source</a></li>
			<li><span class="emoji">💼</span><a href="https://www.linkedin.com/in/kunalnagar88" target="_blank">LinkedIn</a></li>
			<li><span class="emoji">🐣</span><a href="https://twitter.com/_kunalnagar" target="_blank">Twitter</a></li>
			<li><span class="emoji">📸</span><a href="https://www.instagram.com/kunalnagar88/" target="_blank">Instagram</a></li>
			<li><span class="emoji">📨</span><a href="mailto:me@kunalnagar.in" target="_blank">Contact</a></li>
		</ul>
	</div>
{{ end }}