html,
body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $font-size-base;
}

#navbar {
    position: fixed;
    right: 2%;
    top: 20%;

    @media only screen and (max-device-width: 480px) {
        position: inherit;
        padding: 1em;
        padding-bottom: 0;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

#content {
    width: 500px;
    max-width: calc(100% - 2em);
    padding: 1em;
    margin: 0 auto;

    h1, h2, h3 {
        margin: 0;
    }

    p,
    ul {
        line-height: 18px;
    }

    ul {

        li {
            margin-bottom: 0.7em;
        }
    }

    pre {
        max-width: 100%;
        overflow-y: auto;
        display: block;
        background-color: #fafafa;
        padding: 1em;
    }

    img {
        max-width: 100%;
    }

    .by-line {
        font-size: 10px;
    }
}

a {
    color: rgb(0, 0, 238);
}
