html, body {
    padding: 0;
    margin: 0;
    font-family: $font-family;
}

::selection {
    background-color: lighten($color-link, 60%);
}

img {
    max-width: 100%;
}

p, li {
    line-height: 1.8em;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    margin-top: 1em;
    line-height: 1.5em;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

a {
    color: $color-link;
    text-decoration: underline $color-link-decoration;
    border-bottom: 0;
    transition: text-decoration-color 250ms ease;

    &:hover {
        text-decoration-color: $color-link;
    }
}

ul {
    padding: 0;
    margin: 0;
    margin-bottom: 1.5em;
    margin-left: 2em;

    li {
        padding: 0;
        margin: 0;
        margin-bottom: 0.3em;
    }
}

p {
    margin-top: 1em;
}



#navbar {

    margin-top: 2em;

    .navbar-container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-logo {
        display: block;
    }

    .navbar-items {
        display: flex;
        margin-left: 0;
        margin-top: 1em;
        list-style: none;

        li {
            margin-left: 1em;
            float: left;
        }
    }
}

.page {
    padding: 1em;
    padding-bottom: 3em;

    &.page-blog {

        ul {

            li {
                margin-bottom: 0;

                span {
                    margin-right: 0.5em;
                }
            }
        }

        &--single {

            .highlighter-rouge {

                & > div.highlight {
                    background-color: #eaeaea63;
                    padding: 1em 1.5em;
                    overflow-x: auto;
                }
            }
        }
    }
}

.alert {

    &-info {
        line-height: 1.5em;
        background-color: lighten($color-link, 50%);
        padding: 1em;
    }
}


