<!DOCTYPE html>
<html lang="en" class="light">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ site.description }}" />
    <meta
      property="og:image"
      content="https://kunalnagar.in/assets/img/post.png"
    />
    {% if page.title %} {% assign title = page.title | append: ' - ' | append:
    site.title %} {% else %} {% assign title = site.title %} {% endif %}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:url" content="https://kunalnagar.in{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta name="robots" content="index, follow" />
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
  </head>
  <body>
    {% include header.html %}
    <main>{{ content }}</main>
    {% include footer.html %}
  </body>
</html>
