<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ site.description }}" />
    <meta
      property="og:image"
      content="https://kunalnagar.in/assets/img/post.png"
    />
    <meta property="og:title" content="{{ page.title }} - {{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:url" content="https://kunalnagar.in{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta name="robots" content="index, follow" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
  </head>
  <body>
    <main>
      {% include header.html %} {{ content }} {% include footer.html %}
    </main>
  </body>
</html>
