<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hi. I'm Kunal. I make the web fast by using JavaScript responsibly.">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>{{ page.title }} – Kunal Nagar</title>
    <meta property="og:image" content="https://kunalnagar.in/assets/img/post.png">
    <meta name="robots" content="index, follow">
    {% include critical.html %}
    <link rel="stylesheet" href="/assets/css/main.css" media="none" onload="if(media!='all')media='all'"><noscript><link rel="stylesheet" href="/assets/css/main.css"></noscript>
</head>
<body>
    {% include header.html %}
    <main>{{ content }}</main>
    {% include footer.html %}
</body>
</html>
