<html>
	<head>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<title>{{ page.title }}</title>
		<!--Boilerplate-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="{{ page.description }}">
		<meta name="keywords" content="{{ page.tags | join: ',' }}">
		<meta name="author" content="Kunal Nagar">

		{% include tags-open-graph.html %}
		{% include tags-twitter.html %}

		{% include ga.html %}

		<!--Main CSS File-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/style.css">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		{% include navbar.html %}
		<div id="main" class="container">
			<div class="page-post page-outer">
			<header>
	            <h3>{{ page.title }}</h3>
	            <time class="published post-meta">{{ page.date | date: "%b %d, %Y" }}</time>
	        </header>
			{{ content }}
			<p class="share">
				<span><b>Share on:</b></span>
				<a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&amp;text={{ page.title }}&amp;via=_kunalnagar">Twitter</a>,
				<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}">Facebook</a>,
				<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}">Google+</a>,
				<a href="https://www.linkedin.com/cws/share?url={{ site.url }}{{ page.url }}">LinkedIn</a>
				or use the <a href="{{ site.url }}{{ page.url }}">Permalink</a>
			</p>
			{% include disqus.html %}
			</div>
			<!-- <script src="https://use.fontawesome.com/7dd3e58787.js"></script> -->
			<script src="/js/main.js"></script>
			<script id="dsq-count-scr" src="//{{ site.name }}.disqus.com/count.js" async></script>
		</div>
	</body>
</html>
