<html>
	<head>
		<title>{{ page.title }}</title>
		<!--Boilerplate-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% include tags-open-graph.html %}
		{% include tags-twitter.html %}

		{% include ga.html %}

		<!--Main CSS File-->
		<link rel="stylesheet" href="/css/style.min.css">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="layout">
			{% include navbar.html %}
			<div id="main" class="container">
				<div id="layout">
					<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
						<meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
						<meta itemprop="description" content="{{ page.description }}" />
						<meta itemprop="headline" content="{{ page.title }}" />
						<meta itemprop="image" content="{{ page.thumbfb }}" />
						<meta itemprop="author" content="Kunal Nagar" />
						<meta itemprop="publisher" content="Kunal Nagar" />
						<header>
							<h3 itemprop="name">{{ page.title }}</h3>
							<time class="published post-meta" itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%B %e, %Y" }}</time>
						</header>
						<div class="entry" itemprop="articleBody">
							{{ content }}
						</div>
						<div itemprop="author">
							<span itemscope itemtype="http://schema.org/Person">
								<meta itemprop="name" content="Kunal Nagar" />
								<meta itemprop="worksFor" content="ScaleGrid Inc." />
							</span>
						</div>
						<!-- <div itemprop="publisher">
							<span itemscope itemtype="http://schema.org/Person">
								<meta itemprop="name" content="Kunal Nagar" />
							</span>
						</div> -->
						<p class="share">
							<span>Share on:</span>
							<a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&amp;text={{ page.title }}&amp;via=_kunalnagar">Twitter</a>,
							<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}">Facebook</a>,
							<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}">Google+</a>,
							<a href="https://www.linkedin.com/cws/share?url={{ site.url }}{{ page.url }}">LinkedIn</a>
							or use the <a href="{{ site.url }}{{ page.url }}">Permalink</a>
						</p>
						{% include disqus.html %}
					</article>
				</div>
			</div>
		</div>
		<script src="https://use.fontawesome.com/7dd3e58787.js"></script>
		<script src="/js/main.js"></script>
		<script id="dsq-count-scr" src="//{{ site.name }}.disqus.com/count.js" async></script>
	</body>
</html>
