<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>{{ page.title }} · Kunal Nagar</title>
    <meta property="og:image" content="https://kunalnagar.in/assets/img/post.png">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" type="text/css" href="/assets/css/base.css">
</head>
<body>
    {% include header.html %}
    <div class="page page-blog--single">
        <div id="content" class="container">
            <h1>{{ page.title }}</h1>
            <p class="by-line">{{ page.date | date: "%b %d, %Y" }} <a href="{{ page.url }}">permalink</a></p>
            {{ content }}
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
