name: Continuous Integration

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - name: Cache ruby (bundler) dependencies
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Cache npm dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Set bundle path to vendor/bundle
        run: bundle config path vendor/bundle
      - name: Install bundle dependencies if not cached
        if: steps.bundle_cache.outputs.cache-hit != 'true'
        run: bundle install --jobs 4 --retry 3
      - name: Install npm dependencies
        run: npm install
      - name: Lint
        run: npm run pretty-quick
      - name: Build
        run: npm run build
      - name: Release (dry-run)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run release -- --dry-run && tree release
      - name: Audit URLs using Lighthouse CI
        run: |
          npm install -g @lhci/cli@0.12.x
          lhci autorun
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
